.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.turnover {
    color: #fff;
    border-radius: 25px;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 0%;
}

.button {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #303f4a;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    height: 2em;
    width: 4em;
    background-color: #C95792;

}

.button:hover {
    background-color: #F8B55F;
    color: #fff;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-stretch: semi-condensed;
    color: #fff;
    margin: 0%;
    font-weight: bold;
}

.body,html {
    background-color: #3D365C; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    margin: 0;
    gap: 20px;
    padding: 0%;
    height: 100%;
}

.top-heading {
    width: 50%;          
    background:#7b97ab;  
    padding: 7px 0;      
    text-align: center;   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    position: sticky;     
    top: 0;               
    z-index: 100;
    border-radius: 10px;
    
}

.radioButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 2px;
    padding-top: 20px;
}

.tax,
.turnover {
    color: #fff;
    border-radius: 25px;
}

.calculator-div {
    display:flex;
    justify-content:center;
    align-items: center;  
}