.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29vh; /* Optionally, to center vertically in the viewport */
    }
.assesment{
    color: #fff;
    border-radius: 25px;
}
.turnover{
    color: #fff;
    border-radius: 25px;
}
.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 0%;
   
}
.button{
    display: flex;
    align-items: center;
      padding-top: 2px;
      padding-bottom: 2px;     
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border: 1px solid #303f4a; /* Border color */
      border-radius: 25px; /* Border radius for round edges */
      transition: background-color 0.3s, color 0.3s;
      height: 2em; width: 4em;
      background-color: #C95792;
      
}
.button:hover {
    background-color: #F8B55F; /* Background color on hover */
    color: #fff; /*Text color on hover*/
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-stretch: semi-condensed;
    color: #fff;
}
.body {
    background-color: #3D365C;
}
.top-heading {
    background-color: #331338;
    border-radius: 7px;
    padding: 1px;
}
.radioButtons{  
display: flex;
justify-content: center;
align-items: center;
color: #fff;
border-radius: 2px;
padding-top: 20px;
}
.tax{  
    color: #fff;
    border-radius: 25px;
}

  